@import url('https://fonts.googleapis.com/css2?family=GreycliffCF&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  font-family: 'GreycliffCF', sans-serif;
  background-color: #1a0f1f;
  color: #fff;
  overflow: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*-----------------------------*/

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}
section:target {
  scroll-snap-align: start;
}
.circles-navigation {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: 6px 0;
  transition: background 0.3s, width 0.3s, height 0.3s;
}
.circle.active {
  background: #fff;
  width: 20px;
  height: 20px;
}

/*-----------------------------*/
.mios {
  position: relative;
  left: 250px;
  bottom: 80px;
}
.hero {
  text-align: center;
  position: relative;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 20px #cc00ff;
  right: 450px;
  top: 250px;
}
.hero .version {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 0 0 20px #cc00ff;
  position: absolute;
  top: 0;
  right: -3rem;
}
.hero h1, .hero h2, .hero p, .hero p2 {
  opacity: 0;
}
.hero h1 {
  font-size: 8rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 20px #cc00ff;
  animation: fadeInUpFast 1s ease-out forwards;
  animation-delay: 0.2s;
}
.hero h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 20px #cc00ff;
  animation: fadeInUpSlow 1.5s ease-out forwards;
  animation-delay: 0.8s;
}
.hero p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 20px #cc00ff;
  animation: fadeInUpSlow 1.5s ease-out forwards;
  animation-delay: 0.8s;
}
.hero p2 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 20px #cc00ff;
  text-align: center;
  position: relative;
  top: -5px;
  margin-bottom: 2rem;
  animation: fadeInUpSlow 1.5s ease-out forwards;
  animation-delay: 0.8s;
}
.hero button {
  margin: 0 10px;
  color: #ffffff;
  box-shadow: 0 0 20px #cc00ff;
  background-color: #cc00ff;
  padding: 10px 40px;
  border-radius: 5px;
  border: #cc00ff;
  cursor: pointer;
  font-size: 2rem;
  transition: opacity 0.3s ease;
}
.hero button:hover {
  opacity: 0.8;
}
.hero a {
  color: #cc00ff;
}
.hero a:hover {
  text-decoration: none;
}



.hero2 h1 {
  position: relative;
  font-size: 4.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 20px #cc00ff;
  animation: fadeInUpFast 1s ease-out forwards;
  animation-delay: 0.2s;
  right: -350px;
  top: 25px;
  opacity: 0;
}
.hero2 p {
  position: absolute;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 20px #cc00ff;
  animation: fadeInUpSlow 0.8s ease-out forwards;
  animation-delay: 0.8s;
  right: 30px;
  top: 250px;
  opacity: 0;
}



/*-----------------------------*/

.video {
  width: 640px;
  height: 360px;
  position: relative;
  left: -300px;
  z-index: 1;
}
.pulse-glow {
  animation: pulse 1s infinite alternate;
}
@keyframes pulse {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #cc00ff, 0 0 80px #cc00ff, 0 0 10px #cc00ff;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #cc00ff, 0 0 160px #cc00ff, 0 0 20px #cc00ff;
  }
}

/*-----------------------------*/

.transparent-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 10px 20px;
}
.transparent-bar a, .transparent-bar button {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s ease;
}
.transparent-bar a:hover, .transparent-bar button:hover {
  opacity: 0.8;
}
.transparent-bar .discord-link {
  text-decoration: none;
}
.transparent-bar .download-button {
  background-color: #cc00ff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}
.left-links {
  display: flex;
  align-items: center;
}
.left-links a {
  margin-right: 20px;
}

/*-----------------------------*/

.row {
  display: flex;
  flex-wrap: wrap;
}
.box-panel {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #27172f;
  border-radius: 10px;
  box-shadow: 0 0 5px #cc00ff;
  transition: transform 0.8s ease-in-out;
  opacity: 0;
}
.fade-in {
  animation: fadeInUpFast 0.8s ease-out forwards;
}
.box-panel:hover {
  transform: scale(1.05);
}
.box-panel h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}
.content {
  margin-top: 20px;
  flex-grow: 1;
}
.content p {
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
}



.info-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: absolute;
  right: 45px;
  top: 310px;
  width: calc(50% - 40px);
}
.info-box {
  width: calc(50% - 20px);
  padding: 20px;
  background-color: #27172f;
  border-radius: 10px;
  box-shadow: 0 0 5px #cc00ff;
  transition: transform 0.8s ease-in-out;
  opacity: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-box h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}
.info-box h3 {
  font-size: 0.8rem;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}
.info-box-container .info-box {
  animation: fadeInUpFast 0.8s ease-out forwards;
}

/*-----------------------------*/

#section2 {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.image-slider {
  display: flex;
  width: 590%;
  height: 100%;
  animation: scrollBackground 50s linear infinite;
}
.image-slider img {
  width: 33.33%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
@keyframes scrollBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.66%);
  }
}
.background-images .image-slider {
  animation: scrollBackground 50s linear infinite;
}

/*-----------------------------*/

@keyframes fadeInUpFast {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUpSlow {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}